<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    
<h1>Lista de productos</h1>

<table>
   <thead>
       <tr>
           <th>Nombre</th>
           <th>Categoria</th>
           <th>Precio</th>
           <th>Stock</th>
       </tr>
   </thead>
   <tbody>
         <tr>
             <td>Coca-Cola</td>
             <td>Refrescos</td>
             <td>20</td>
             <td>40</td>
         </tr>
         <tr>
            <td>Peñafiel</td>
            <td>Refrescos</td>
            <td>20</td>
            <td>40</td>
         </tr>

     </tbody>
</table>

</body>
</html>