<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>
</head>
<body>

    <form action="/html_almacen/action_page.html" method="POST">
     <label for="Nombre">Nombre:</label><br>
     <input type="text" name="nombre" id="nombre" value="Doctor"></label><br>
     <label for="apellido">Apellido:</label><br>
     <input type="text" name="apellido" id="apellido" value="Stone"></label><br>
     <br><br>

     <input type="submit" value="Guardar">
    </form>

</body>
</html>