<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas</title>
</head>
<body>
    
    <table>
         <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
        </tr>

             <tbody>
         <tr>
             <td>Luis</td>
             <td>Montes</td>
             <td>31</td>
         </tr>

         <tr>
             <td>Ramon</td>
             <td>Montes</td>
             <td>4</td>
        </tr>

             </tbody>

    </table>
</body>
</html>