<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bordes</title>

    <style>
       h1{
           border: 5px solid red;
           border-radius: 7px;
       }

       h2{
           border: 4px dotted lime;
           
       }

       div{
           border: double;
       }

       h3.a{
           text-shadow: 2px 2px #eaec46;
       }
        
       h4.b {
           text-shadow: 0 0 3px #0000FF;
       }


    </style>
</head>
<body>
    
     <h1>Borde rojo</h1>
     <h2>Borde verde en puntos</h2>
     <div>Borde double</div>
     <h3 class="a">Propiedad text-shadow</h1> 
     <h4 class="b">Propiedad text-shadow con rojo y azul neon</h1>
    

</body>
</html>