<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer css</title>

     <style>
        body {
           background-color: lightblue;
        }

        h1 {
            text-align: center;
            color: whitesmoke;
        }

        p{
            font-family: Verdana;
            font-size: 20px;
        }
     </style>

</head>
<body>
    <h1>Mi primer codigo en css</h1>
    <p>Algun texto</p>
</body>
</html>