<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transform</title>

     <style>
          div{
             background-color: red;
             width: 150px;
             height: 80px;
          }

          .a{
              transform: rotate(20deg);
          }

          .b{
              transform: scaleY(1.5);
          }
          
     </style>

</head>
<body>
    
     <h2>Rotar</h2>
     <div class="a">
         <p>Este es un texto que esta rotado</p>
     </div>

     <h2>Escala en eje Y</h2>
     <div class="b">
        <p>Este texto esta dentro de una eje Y</p>
     </div>

</body>
</html>