<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolean</title>
</head>
<body>
    
    <script>
        var x, y;

        x= true;
        y= false;

        console.log(x && y);
        console.log(x && x);
        
        console.log("AND");
        console.log(x && y);
        console.log(x && x);
        console.log("OR");
        console.log(y || x);
        console.log(x || x);
        console.log(y || y);
        console.log("iguldad y negacion");
        console.log(x == y);
        console.log(1 == 2);
        console.log("AND" == "OR");
        console.log(x != y);
    </script>

</body>
</html>