<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    
        <div id="demo"></div>

    <script>
        var nombre = "Frank";
        var lista = ["Pera", 10, nombre, null, "Madrid"]; 

        console.log(lista);
        console.log(lista[2]);
        console.log(lista.length);
        console.log(lista[lista.length - 1]);

    

         var frutas = ['platano, manzana'];
         var ultimo = frutas.pop()
         console.log(ultimo) ;
         document.getElementById('demo').innerHTML = frutas.toString();

         var nums =[45, 5, 50, 10];
         var filtrado = nums.filter((value, index, array) =>{

         });
         console.log(filtrado);
         
    </script>

</body>
</html>