<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numerico</title>
</head>
<body>
    
     <script>
         var x, y;
         x = 10;
         y = 3.7;
         
         console.log(x);
         console.log(y);

         console.log(x + y); //suma
         console.log(x - y); //resta
         console.log(x * y); //multiplicacion
         console.log(x / y); //divicion 
         console.log(x % y); //operador modulo
 
         console.log(1 + x++);
         console.log(x);
         console.log(1 + ++y);
         console.log(y);

     </script>

</body>
</html>